.Accueil{
    text-align:center;
    font-size: 65px;
    color: rgb(235, 234, 238);
    font-weight: 900;

}


#global {
    margin-left: auto;
    margin-right: auto;
    
  }

.Card{
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
    max-width: 18rem;
    align-content:center;
    
  
}
.Card_name{
  box-sizing: content-box;
  font-weight: bold;
}

.type2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-weight: bold;
}


html, body, #root, #root>div {
    height: 100%;
    background-image: url("./img/test1.jpg");
    
    
  
  }
  
.nav-link {
    text-align: center;
}
.nav-link1{
    color: blue;
}


.Ecriture{
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.908);
    font-family: Verdana;
    background-color: #9dbfaf03; 
    
}
.Pokedex{
text-align: center;
position: fixed;
  width: 600px;
  height: 200px;
  left: 50%;
  top: 30%;
  margin-left: -300px; /*half the width*/

    
}
.SearchBar{
    overflow:scroll;
    height: 30px;
    border-radius: 5px 0 0 5px;
    color: #000000;


/*Buttun*/
}
.btn-del{
  border-radius: 24px;
  font-family: Fantasy;

}
.btn-add{
    border-radius: 24px;
    font-family: Fantasy;
}.btn-previous{
    padding: 3px;
    width: 100%;
    border-radius: 24px;
  font-family: Fantasy;
  
}
.btn-free{

    font-family: Fantasy;

}
.btn-next{
    padding: 3px;
    display: block;
    width: 100%;
    border-radius: 24px;
    font-family: Fantasy;
    margin-right: 20px;
    
}